<app-overview></app-overview>

<div flex fxLayout="row" fxLayoutAlign="" >
    <md-card routerLink="/dashboard" routerLinkActive="active" class="cursor" >
    <md-card-title>
        <h2>Activities</h2>
    </md-card-title>  
    <md-card-content>
        <span>No of Message Produced : {{ topicsData.get("as_demo_activities") }} /sec</span>
    </md-card-content>
    </md-card>
   <md-card  >
    <md-card-title>
        <h2>L1Routes</h2>
    </md-card-title>  
    <md-card-content>
        <!--<span>{{ consumerGroupsData.get("l1route") }}</span>-->
    </md-card-content>
    </md-card>
</div>

<div class="container" style="margin-top:20px;" >
    <table class="table table-bordered">
        <tr>
            <th>Consumer ID</th>
            <th>Fill Rate</th>
            <th>Drain Rate</th>
            <th>Error Rate</th>
            <th>FillRate Capacity</th>
            <th>DrainRate Capacity</th>
        </tr>
        <tr  *ngFor="let msg of consumersData.entries()"  >
            <td>{{ msg[0] }}</td>
            <td>{{ msg[1].F }}</td>
            <td>{{ msg[1].D }}</td>
            <td>{{ msg[1].E }}</td>
            <td>{{ msg[1].FC }}</td>
            <td>{{ msg[1].DC }}</td>
        </tr>
    </table>
    
</div>


