
<div flex fxLayout="row" fxLayoutAlign="" >
    <md-card routerLink="/dashboard" routerLinkActive="active" class="cursor" >
    <md-card-title>
        <h2>Activities</h2>
    </md-card-title>  
    <md-card-content>
        <span>No of Message Produced : {{ topicsData.get("activities") }} /sec</span>
    </md-card-content>
    </md-card>
   <md-card  >
    <md-card-title>
        <h2>L1Routes</h2>
    </md-card-title>  
    <md-card-content>
        <span>No of Messages Produced</span>
    </md-card-content>
    </md-card>
</div>
