<!-- <div class="search-results"
            infinite-scroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="300"
            (scrolled)="onScroll()">
        </div> -->
<md-input-container>
<input mdInput placeholder="User Name" [(ngModel)]="user">
</md-input-container>
<button md-button (click)='get(user)'>Listen</button>
<button md-button (click)='stop(user)'>StopListening</button>

<div *ngFor="let message of messages">
    <div *ngFor="let item of message.items"> 
  <md-card>
    <md-card-content>
      <p>Message:{{item.payload}}</p>
      <p>CreatedAt:{{item.createdat}}</p>
      <p>Mailbox Id:{{item.mailboxid}}</p>
    </md-card-content>
  </md-card>
   </div>  
</div>
