<!--     <div flex fxLayout="column" fxLayoutAlign="space-around start" >
    
		<md-card>
		    <md-card-title>
		        <h2>Number of Messages Push to Circle</h2>
		    </md-card-title>  
		    <md-card-content>
		        <span> Message : <input type="text"></span>
		    </md-card-content>
		    <md-card-content>
		        <span> Number of Message: <input type="text"> </span>
		    </md-card-content>
		    <md-card-content align = "center">
		    	<button onclick=""> Apply</button><button>Stop</button>
		    </md-card-content>
		</md-card>
    </div>
</div> -->

<div class="container">
	<div class="row">
		<div class="col-md-4 mybox">
		<div class="input-group pad-top">
		  <span class="input-group-addon" id="basic-addon1">message</span>
		  <input type="text" class="form-control"  aria-describedby="basic-addon1">
		</div>
		<div class="input-group pad-top">
		  <span class="input-group-addon" id="basic-addon2">msg/s</span>
		  <input type="text" class="form-control"  aria-describedby="basic-addon2">
		</div>
		 <button type="button" class="btn btn-primary pad-top pull-left" >Apply</button>
		 <button type="button" class="btn btn-danger pad-top pull-right">Stop</button>
		</div>
	</div>
</div>
