<div fxLayout="row" fxLayoutAlign="space-around start" >
    <!--<div flex fxLayout="column" fxLayoutAlign="space-around start" >
    <md-card flex *ngFor="let msg of producer">
    <md-card-title>
        <h1>Topic - {{msg.topic}}</h1>
    </md-card-title>  
    <md-card-content>
        <span>No of Message : {{msg.count}}/sec</span>
    </md-card-content>
    </md-card>
    </div>-->
    <div flex fxLayout="column" fxLayoutAlign="space-around start" >
    <md-card flex *ngFor="let msg of topics">
    <md-card-title>
        <h1>Topic - {{msg}}</h1>
    </md-card-title>  
    <md-card-content>
        
    </md-card-content>
    </md-card>
    </div>
</div>